<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.theftprotection">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-feature android:name="android.hardware.camera"  android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_lcon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lcon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.TheftProtection">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>



        <activity android:name=".Main_Activity"/>

        <activity android:name=".FrontUI"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <service android:name=".utils.RingtonePlay"/>
        <service android:name=".utils.Capture_Service"/>
        <service android:name=".fgservice" android:foregroundServiceType="dataSync"/>
        <service android:name=".utils.send_SMS"/>



        <receiver android:name=".deviceadmin.MyAdmin" android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="false">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/policies"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action    android:name="android.app.action.ACTION_PASSWORD_FAILED"/>
                <action     android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED"/>
            </intent-filter>
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



    </application>




</manifest>